##### ***1) LECTURA DE ARCHIVOS***

In [1]:
import pandas as pd
import gzip
import json
import ast

path_items='../PROYECTO INDIVIDUAL/Datos del Proyecto/users_items.json/australian_users_items.json'

In [2]:
items_list=[]
no_leidos=[]
with open(path_items,'r',encoding='utf-8') as archivo:
    for nro_fila,fila in enumerate(archivo,start=1):
        try:
            datos=ast.literal_eval(fila)
            if isinstance(datos,dict):
                items_list.append(datos)
            else:
                no_leidos.append[nro_fila]
        except json.JSONDecodeError as e:
            no_leidos.append(nro_fila)

##### ***2) CONSTRUCCION DE ETL***

In [3]:
# DESANIDAR COLUMNA "items"

lista_desanidada_items=[]
for indice,diccionario in enumerate(items_list):
    for inidex,diccionario_sec in enumerate(diccionario['items']):
        lista_desanidada_items.append({'user_id':diccionario['user_id'],
                        'items_count':diccionario['items_count'],
                        'steam_id':diccionario['steam_id'],
                        'user_url':diccionario['user_url'],
                        'item_id':diccionario_sec['item_id'],
                        'item_name':diccionario_sec['item_name'],
                        'playtime_forever':diccionario_sec['playtime_forever'],
                        'playtime_2weeks':diccionario_sec['playtime_2weeks']
                        })

users_items=pd.DataFrame(lista_desanidada_items)

In [4]:
users_items

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...,...
5153204,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5153205,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5153206,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

In [5]:
# ELIMIACION de columnas innecesarias 

users_items.drop(['user_url'],axis=1,inplace=True)

In [6]:
users_items.drop(['steam_id'],axis=1,inplace=True)

In [7]:
users_items.drop(['items_count'],axis=1,inplace=True)

In [8]:
users_items

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

In [9]:
# renombrar columnas para mejor identificacion 

users_items=users_items.rename(columns={'item_id':'id_juego','item_name':'nombre_juego','playtime_forever':'timpo_total_jugado','playtime_2weeks':'tiempo_jugado_ultimas_2semanas'})

In [10]:
# Ver si hay valores nulos 

for columna in users_items.columns:

    nulo=users_items[columna].isnull().sum()
    print(f'{columna} valores nulos= ',nulo)

user_id valores nulos=  0
id_juego valores nulos=  0
nombre_juego valores nulos=  0
timpo_total_jugado valores nulos=  0
tiempo_jugado_ultimas_2semanas valores nulos=  0

In [11]:
users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column                          Dtype
---  ------                          -----
 0   user_id                         object
 1   id_juego                        object
 2   nombre_juego                    object
 3   timpo_total_jugado              int64
 4   tiempo_jugado_ultimas_2semanas  int64
dtypes: int64(2), object(3)
memory usage: 196.6+ MB

In [16]:
users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column                          Dtype
---  ------                          -----
 0   user_id                         object
 1   id_juego                        int32
 2   nombre_juego                    object
 3   timpo_total_jugado              int64
 4   tiempo_jugado_ultimas_2semanas  int64
dtypes: int32(1), int64(2), object(2)
memory usage: 176.9+ MB

In [15]:
# Cambiar tipo de la columna "id_juego"
users_items['id_juego']=users_items['id_juego'].astype(int)

In [18]:
# Data frame user_items listo

users_items

,user_id,id_juego,nombre_juego,timpo_total_jugado,tiempo_jugado_ultimas_2semanas
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

In [17]:
# EXPORTAR dataframe en formato csv 

nombre_archivo='user_items.csv'

users_items.to_csv(nombre_archivo,index=False)