### **Librerias a utilizar**

In [1]:
import pandas as pd
import gzip
import json
import ast
import re

### **Extracción de Datos**

In [2]:
# Lee linea por linea el archivo steam_games y lo almacena en una lista

ruta= '../Data Sets/steam_games.json.gz'

steam_list=[] # lista de dattos

with gzip.open(ruta,'rt',encoding='utf-8') as archivo:
    for fila in archivo:
        datos=json.loads(fila)
        steam_list.append(datos)

# Crear una DataFrame de pandas a partir de la lista de diccionarios steam_list
steam_games=pd.DataFrame(steam_list)
steam_games

### **Diccionario de datos**

- **publisher**: Empresa que publica el Juego

- **genres**:  Genero del Juego.

- **app_name** Nombre de la app.

- **title**: Titulo del Juego.

- **url**: Url del Juego.

- **release_date**: Fecha de lanzamiento del Juego.

- **tags**: Etiquetas. 

- **reviews_url**: Url de las reviews realizadas por los usuarios.

- **specs**: Muestra especificaciones del juego, por ejemplo si es un juego grupal o individual.

- **price**: Precio del Juego. 

- **early_access**: Modelo de financiacion del video juego mediante el cual los consumidores pueden pagar por versiones previas al lanzamiento oficial.

- **id**: Código de identificacion del Juego.

- **developer**: Desarrolladores del Juego.

### **Exploración de Datos**

Iniciamos el proceso de ETL con una exploración de datos con el fin de observar dimensión de los datos, cantidad de filas y columnas, valores nulos, registros duplicados , tipos de datos, en definitiva entender los datos para luego tomar desiciones que nos ayuden a preparar los datos

In [3]:
steam_games.head(15)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
steam_games.tail(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [5]:
steam_games.shape

(120445, 13)

In [6]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [7]:
steam_games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

### **Revisión y Tratamiento de valores  Nulos**

In [282]:
steam_games.isnull().sum()

publisher       96362
genres          91593
app_name        88312
title           90360
url             88310
release_date    90377
tags            88473
reviews_url     88312
specs           88980
price           89687
early_access    88310
id              88312
developer       91609
dtype: int64

In [283]:
# Elimina nulos del Data Frame
steam_games=steam_games.dropna(how='all').reset_index(drop=True)

In [284]:
steam_games.head(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN

In [285]:
steam_games.shape # ver tamaño de DataFrame sin nulos

(32135, 13)

In [286]:
steam_games.isnull().sum()

publisher       8052
genres          3283
app_name           2
title           2050
url                0
release_date    2067
tags             163
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

### **Eliminación de columnas no reelevantes**

In [287]:
# Eliminar columnas: title - url - reviews_url - tags - specs

steam_games=steam_games.drop(['title','url','reviews_url','early_access','tags','specs'],axis=1)
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com

### **Exploración y transformacion  de algunas columnas importantes**

#### **Columna "publisher"**

In [288]:
steam_games['publisher'].isnull().sum()

8052

In [289]:
# Reemplaza los valors nulos por "Sin especificar"

steam_games['publisher'].fillna('Sin Especificar',inplace=True)

#### **Columna "genres"**

In [290]:
steam_games['genres']

0            [Action, Casual, Indie, Simulation, Strategy]
1                     [Free to Play, Indie, RPG, Strategy]
2        [Casual, Free to Play, Indie, Simulation, Sports]
3                              [Action, Adventure, Casual]
4                                                      NaN
                               ...
32130                [Casual, Indie, Simulation, Strategy]
32131                            [Casual, Indie, Strategy]
32132                          [Indie, Racing, Simulation]
32133                                      [Casual, Indie]
32134                                                  NaN
Name: genres, Length: 32135, dtype: object

In [291]:
steam_games['genres'].isnull().sum()

3283

In [292]:
#  Reemplaza los nulos con "Sin genero especificado"
steam_games['genres'].fillna('Sin genero especificado',inplace=True)
steam_games.head(5)

,publisher,genres,app_name,release_date,price,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,0.99,767400,彼岸领域
4,Sin Especificar,Sin genero especificado,Log Challenge,NaN,2.99,773570,NaN

In [293]:
# Desanida columna genre

steam_games=steam_games.explode('genres')
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer
0,Kotoshiro,Action,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
0,Kotoshiro,Casual,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
0,Kotoshiro,Indie,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro

In [294]:
# Ver datos unicos 
steam_games['genres'].unique()

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure',
       'Sin genero especificado', 'Racing', 'Early Access',
       'Massively Multiplayer', 'Animation &amp; Modeling',
       'Video Production', 'Utilities', 'Web Publishing', 'Education',
       'Software Training', 'Design &amp; Illustration',
       'Audio Production', 'Photo Editing', 'Accounting'], dtype=object)

In [295]:
# Elimina patron "&amp;" de los generos que contienen dicho patron y los reemplaza por un ''

def limpia_genres(genero):
    if "&amp;" in genero:
        return genero.replace("&amp;",'')
    else:
        return genero
steam_games['genres']=steam_games['genres'].apply(limpia_genres)

#### **Columna "app_name"**

In [296]:
steam_games['app_name'].unique()

array(['Lost Summoner Kitty', 'Ironbound', 'Real Pool 3D - Poolians', ...,
       'Russian Roads', 'EXIT 2 - Directions', 'Maze Run VR'],
      dtype=object)

In [297]:
nulos_app=steam_games['app_name'].isnull().sum()
print(f'la columna app_name contiene {nulos_app} valores nulos')

la columna app_name contiene 3 valores nulos

In [298]:
# Elimina registros del dataframe donde "app_name" contiene valores nulos 

steam_games=steam_games.dropna(subset=['app_name']).reset_index(drop=True)

#### **Columna "release_date"**

Se observa que la columma "fecha_lanzamiento"  tiene datos errones tales como "SOON" los cuales deben ser eliminados , a su vez es necesario extraer de la mencionada columna el año, ya que será útil para el desarrollo de funciones mas adelante

In [299]:
# Muestra cuantos valores nulos tiene la columna 
nulos_release_Date=steam_games['release_date'].isnull().sum()
print(f'la columna release_date contiene {nulos_release_Date} valores nulos')

la columna release_date contiene 2101 valores nulos

In [300]:
# Elimina registros del dataframe donde la columna "release_date" contiene valores nulos 

steam_games=steam_games.dropna(subset=['release_date']).reset_index(drop=True)
steam_games.shape

(72733, 7)

In [301]:
# Crear columna "release_year" a partir de la columna "release_date"

steam_games['release_year']=steam_games['release_date'].copy()
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,release_year
0,Kotoshiro,Action,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018-01-04
1,Kotoshiro,Casual,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018-01-04
2,Kotoshiro,Indie,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018-01-04

In [302]:
# Crea una funcion para extraer el año de la columna: usa regex para extaer los valores qeu contienen 4 caracteres, para extraer el año 

def extaer_año(cadena):
    patron=r"\d{4}"
    match=re.search(patron,cadena)
    if match:
        return match.group()
    else:
        return cadena
    
# Aplica funcion a la columna "año_lanzamiento"

steam_games['release_year']=steam_games['release_year'].apply(extaer_año)
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,release_year
0,Kotoshiro,Action,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
2,Kotoshiro,Indie,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018

In [303]:
# Transformar datos de la columna a tipo fecha, en caso de error devuelve nulo 
steam_games['release_date']=pd.to_datetime(steam_games['release_date'],errors='coerce')

In [304]:
# Eliminar nulos generados producto del bloque de codigo anterior 
steam_games=steam_games.dropna(subset=['release_date']).reset_index(drop=True)
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,release_year
0,Kotoshiro,Action,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
2,Kotoshiro,Indie,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018

#### **Columna "price"**

In [307]:
# Valores Nulos 
steam_games['price'].isnull().sum()

0

In [306]:
# Elimina registros donde la columna "price" presenta valores nulos

steam_games.dropna(subset='price',inplace=True)

In [308]:
# Exploracion 

steam_games['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 3.99, 9.99, 18.99,
       29.99, 10.99, 2.99, 1.59, 14.99, 1.99, 59.99, 8.99, 6.99, 7.99,
       39.99, 'Free', 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25, 24.99,
       17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo', 'Play for Free!',
       34.99, 1.49, 32.99, 99.99, 14.95, 69.99, 16.99, 79.99, 49.99, 5.0,
       44.99, 13.98, 29.96, 119.99, 109.99, 149.99, 771.71, 'Install Now',
       21.99, 89.99, 'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29,
       64.99, 'Free Mod', 54.99, 74.99, 'Install Theme', 0.89,
       'Third-party', 0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49,
       23.99, 49.0, 20.99, 10.93, 1.39, 'Free HITMAN™ Holiday Pack',
       36.99, 4.49, 2.0, 4.0, 234.99, 1.95, 1.5, 199.0, 189.0, 6.66,
       27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0, 20.0,
       40.0, 3.33, 22.99, 320.0, 38.85, 71.7, 995.0, 27.49, 3.39, 6.0,
       19.95, 499.99, 199.99, 16.06, 4.68, 131.4, 44.98, 202.76, 1.0, 2.3,
       0.95, 172.24, 249.99, 2.97, 10.96, 10.0, 30.0, 2.66, 6.48, 19.29,
       11.15, 'Play the Demo', 99.0, 87.94, 599.0, 0.49, 9.98, 9.95, 7.0,
       'Starting at $499.00', 'Starting at $449.00', 12.89, 6.49, 1.87,
       42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0, 59.95,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [309]:
# Transforma a tipo float, sino devuelve el mismo valor 

steam_games['price']=steam_games['price'].astype(float,errors='ignore')

In [310]:
steam_games['price'].shape

(69457,)

In [311]:
# Cuanta la cantidad de valores no numericos, el objetivo de esto es determinar si elimino dichos registros en base a si su cantidad es reelevante

contador=0
for i in steam_games['price']:
    if type(i)==str:
        contador+=1

contador

# 4769

4769

In [312]:
# Encuentra valores no numericos de la columna "price" y los almacena en una lista
lista_no_numericos=[]
for valor in steam_games['price'].unique():
   if type(valor)==str:
      lista_no_numericos.append(valor)

lista_no_numericos

['Free To Play',
 'Free to Play',
 'Free',
 'Free Demo',
 'Play for Free!',
 'Install Now',
 'Play WARMACHINE: Tactics Demo',
 'Free Mod',
 'Install Theme',
 'Third-party',
 'Play Now',
 'Free HITMAN™ Holiday Pack',
 'Play the Demo',
 'Starting at $499.00',
 'Starting at $449.00',
 'Free to Try',
 'Free Movie',
 'Free to Use']

Analizando los valores no numericos de la columna price, se observa que existen valores tales como "Free" "Free to Play" , etc que indican que el juego es de gratuito, por tal motivo dichos valores decidí reemplazarlos por cero (0).

Los demás valores serán eliminados del DataFrame.

In [313]:
# Funcion que reemplaza  las etiquetas  "Free to Play", "Free To Play", "Free" por cero(0)
def reemplazo_free_por_0(valor):
        if valor=="Free to Play":
                return 0
        elif valor=="Free To Play":
               return 0
        
        elif valor=="Free":
               return 0
        
        elif valor=="Free to Use":
               return 0
        elif valor=='Play for Free!':
               return 0
        else:
            return valor

# Aplico funcion a columna "price"
steam_games['price']=steam_games['price'].apply(reemplazo_free_por_0)

Elimino aquellos registros cuyo valor de la columna "price" se encuentre dentro de la lista_no_numericos

In [314]:
# identifica los inidces de los valores a eliminar y los guarda en una lista 
lista_indices=(steam_games[steam_games['price'].isin(lista_no_numericos)]).index

steam_games.drop(lista_indices,axis=0,inplace=True)

#### **Columna "id"**

In [322]:
steam_games['id'].isnull().sum()

2

In [323]:
# Elimina registros donde la columna "id" contiene valores nulos 

steam_games.dropna(subset='id',inplace=True)

#### **Columna "genres"**

In [315]:
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,release_year
0,Kotoshiro,Action,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
2,Kotoshiro,Indie,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018

In [316]:
# Valores Nulos
steam_games['developer'].isnull().sum()

1386

In [317]:
# Reemplaza valores nulos por "Sin Especificar"

steam_games['developer'].fillna('Sin Especificar',inplace=True)
steam_games['developer'].unique()

array(['Kotoshiro', 'Secret Level SRL', 'Poolians.com', ...,
       'Oscar Ortigueira López,OrtiGames/OrtiSoft', 'INGAME',
       'Bidoniera Games'], dtype=object)

### **Registros Duplicados**

In [318]:
# ver si hay registros duplicados

dupli=steam_games[steam_games.duplicated(keep=False)]
dupli

,publisher,genres,app_name,release_date,price,id,developer,release_year
31240,Bethesda Softworks,Action,Wolfenstein II: The New Colossus,2017-10-26,59.99,612880,Machine Games,2017
32802,Bethesda Softworks,Action,Wolfenstein II: The New Colossus,2017-10-26,59.99,612880,Machine Games,2017

In [319]:
# eliminar duplicados
steam_games.drop_duplicates(inplace=True)

In [324]:
steam_games.isnull().sum()  # interpreta al valor cero como un NAN

publisher       0
genres          0
app_name        0
release_date    0
price           0
id              0
developer       0
release_year    0
dtype: int64

### **Cambiar tipos de datos**

In [325]:
# Ver que tipo de datos contiene cada columna 
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69416 entries, 0 to 71935
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     69416 non-null  object
 1   genres        69416 non-null  object
 2   app_name      69416 non-null  object
 3   release_date  69416 non-null  datetime64[ns]
 4   price         69416 non-null  object
 5   id            69416 non-null  object
 6   developer     69416 non-null  object
 7   release_year  69416 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 4.8+ MB

In [326]:
# Cambia tipo de datos en las columnas "price" , "id" y "release_year"
steam_games['price']=steam_games['price'].astype(float)
steam_games['id']=steam_games['id'].astype(int)
steam_games['release_year']=steam_games['release_year'].astype(int)

In [327]:
steam_games

,publisher,genres,app_name,release_date,price,id,developer,release_year
0,Kotoshiro,Action,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
2,Kotoshiro,Indie,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
3,Kotoshiro,Simulation,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
4,Kotoshiro,Strategy,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
...,...,...,...,...,...,...,...,...
71931,Laush Studio,Indie,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,2018
71932,Laush Studio,Racing,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,2018
71933,Laush Studio,Simulation,Russian Roads,2018-01-04,1.99,610660,Laush Dmitriy Sergeevich,2018
71934,SIXNAILS,Casual,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017
71935,SIXNAILS,Indie,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017

#### **Exportar DataSet preparado**

In [38]:
# Exportar dataset a csv

archivo_csv='steam_games.csv'
steam_games.to_csv(archivo_csv,index=False)